<header>
  <br><br><br><br>
    <div class="container centeralign">
      <br>
      <br>
      <section>
        <div class="centeralign">
          <img src="http://www.designsave.net/wp-content/uploads/2014/08/bootstrap-login-with-social-buttons-mobile.jpg" alt="" />
        </div>
      </section>

    </div>
  </header>
