<header>
  <br><br><br><br>
    <div class="container centeralign">
      <br>
      <br>
      <section>
        <div class="centeralign">
          <%= image_tag("social.jpg", class: "img-responsive") %>
        </div>
      </section>

    </div>
  </header>
