<header>
  <br><br><br><br><br><br><br><br>
  <div class="row">
    <div class="col-md-4">
      <section class="boxaround">
        <h3 class='centeralign'>Search Recipes</h3>
          <div class="centeralign">
            <input type="search" class="form-control centeralign" placeholder="Find Recipies By Name">
            <%= image_tag("recipes.jpg", width: '350', class: "img-responsive") %>
              <br>
            <input type="submit" name="name" value="Search" class="btn btn-default">
          </div>
      </section>
    </div>
    <div class="col-md-4 centeralign dicearound">
      <section class="centeralign">
        <br><br><br>
        <%= image_tag("dice.jpg", height: "300", width: "350", class: "img-responsive") %>

        <br>
        <br><br><br><br>
        <div><a class="btn btn-default btn-lg" href="#" id="dice" onclick="diceit()">Roll The Dice</a></div>
        <br>
      </section>
    </div>
    <div class="col-md-4">
      <section class="boxaround">
        <h3 class='centeralign'>Search by Ingredients (You Have)</h3>

          <div class="centeralign">
            <input type="search" class="form-control centeralign" placeholder="Find Recipies By Ingredients">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <input type="submit" name="name" value="Search" class="btn btn-default">
          </div>
      </section>
    </div>
  </div>
</header>
